---
import Layout from '@/layouts/Layout.astro';
import styles from './styles.module.scss';
---

<Layout title="Welcome to Astro." />

<div class={styles.container}>
  <div class={styles.wrapper}>
    <details class={styles.details} data-accordion>
      <summary class={styles.summary} data-accordion-title>アコーディオン1</summary>
      <div class={styles.content} data-accordion-content>
        <div class={styles.contentInner}>
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
        </div>
      </div>
    </details>

    <details class={styles.details} data-accordion>
      <summary class={styles.summary} data-accordion-title>アコーディオン2</summary>
      <div class={styles.content} data-accordion-content>
        <div class={styles.contentInner}>
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。
        </div>
      </div>
    </details>

    <details class={styles.details} data-accordion>
      <summary class={styles.summary} data-accordion-title>アコーディオン3</summary>
      <div class={styles.content} data-accordion-content>
        <div class={styles.contentInner}>
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。 ここに内容が入ります。
          ここに内容が入ります。
        </div>
      </div>
    </details>
  </div>
  <!-- /.wrapper -->
</div>
