---
import styles from './styles.module.scss';
---

<header>
  <div class={styles.wrap}>
    <ul class={styles.list}>
      <li class={styles.item}><a href="/tree-view">ツリービュー</a></li>
      <li class={styles.item}><a href="/accordion">アコーディオン</a></li>
      <li class={styles.item}><a href="/card-flip-anim">カードアニメーション</a></li>
      <li class={styles.item}><a href="/loading">ローディング</a></li>
      <li class={styles.item}><a href="/modal">モーダル</a></li>
      <li class={styles.item}><a href="/modal-youtube">モーダルYoutube</a></li>
      <li class={styles.item}><a href="/modal2">モーダル2</a></li>
      <li class={styles.item}><a href="/modal3">モーダル3</a></li>
      <li class={styles.item}><a href="/openanim">オープニングアニメ</a></li>
      <li class={styles.item}><a href="/scrollbar">スクロールバー</a></li>
      <li class={styles.item}><a href="/scroll-anim">スクロールアニメfadein</a></li>
      <li class={styles.item}><a href="/scroll-current">スクロール current</a></li>
      <li class={styles.item}><a href="/hover-anim">ホバーアニメ</a></li>
      <li class={styles.item}><a href="/video-state">ビデオの状態</a></li>
    </ul>
  </div>
</header>
